<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Slang</title>
</head>
<body>
	<table width="800" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #110000; margin:0 auto; font-family: Arial, Helvetica, sans-serif; line-height:26px; color:#464646;">
		<tr>
			<td style="background-color:#112a2c; padding:5px 15px;">
			</td>
		</tr>
		<tr>
			<td style="padding:35px 25px;">
				<p style="padding:0px; color:#333333; font-size:16px; font-family:Arial, Helvetica, sans-serif; line-height:1.5;">
					Hello  <%= username%>,
				</p>
				<p style="color:#333333; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:1.5;">
					 Welcome to slang
				</p>
				<p>
					Regards<br/>
					Slag Team
				</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#112a2c; padding:10px 25px; color:#FFF;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<p>Copyright &copy; 2020 - Slag- All Right Reserved.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding:5px 25px; color:#999; font-size:13px; line-height:20px;">
				<p>Notice: Please do not reply to this email address. This mailbox is not monitored and you will not receive a response.</p>
			</td>
		</tr>
	</table>
</body>
</html>
